.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
logs/
plugins/
*.db
.DS_Store
.vscode/
.idea/
*.exe
airflow.db
airflow.cfg
webserver_config.py
unittests.cfg
.env
*.parquet
*.json